nav {
    background-color: #ff9d00;
    border-radius: 5px;
    height: 50px;
    line-height: 50px;
    max-width: 1000px;

}

menu {
    list-style: none;

}

menu li {
    display: inline-block;
    padding: 0 25px;
    background-color: #00b0e5;
    height: 50px;
    margin: -2px;
    border-right: solid 2px black;
}

menu li:first-child{
    border-left: solid 2px black;
}

menu a {
    text-decoration: none;
    color: chartreuse;
}

menu li:hover {
    background-color: #007dd9;
}

menu a:hover{
    color: #32cd32;
}